/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  
  color: #fff;
  font-size: 30px;
  }
  
  /* Navigation */
  nav {
  background-color: #000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  }
  
  nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  
  nav a:hover {
  background-color: #444;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold;
  font-family: Playfair Display;
  
  }
  
  /* Buttons */
  button {
  background-color: #444;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  button:hover {
  background-color: forestgreen;
  }
  
  /* Sporty styles */
  .sporty {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  }
  
  .sporty h2 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  
  .sporty p {
  font-size: 16px;
  }
  
  .sporty img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  }
  
  /* African touch */
  .african {
  font-family: 'Ubuntu', sans-serif;
  color: #ffcc00;
  text-shadow: 1px 1px #000;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #444;
  }
  
  
  
  /* Footers */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

footer a:hover {
  background-color: #444;
}
/* Headers and Titles Glow */
/* h1, h2,  h4, h5, h6 {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 2px #ff9900, 0 0 2px #ff9900, 0 0 2px #ff9900, 0 0 20px #ff5c5c, 0 0 30px #ff5c5c, 0 0 2px #ff5c5c, 0 0 2px #ff5c5c;
} */

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.sub-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.sub-company-info {
  display: none;
  text-align: center;
}

.sub-company.active .sub-company-info {
  display: block;
}
hr {
  border-color: orangered;
}

