/* <div class="menu_wrapper">
<nav id="menu" class="menu-main-menu-container">
    <ul id="menu-main-menu" class="menu">
        <li>
            <a href="../../index-betheme.html"><span>Home</span></a>
        </li>
       
        <li>
            <a href="company.html"><span>Our Brands</span></a>
        </li>
        <li class="current_page_item">
            <a href="about.html"><span>About</span></a>
        </li>
        <li>
            <a href="contact.html"><span>Contact</span></a>
        </li>
    </ul>
</nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
</div>
<div class="secondary_menu_wrapper"></div>
<div class="banner_wrapper"></div>

</div> */
/* 
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: #717171; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
 */



.companies-showcase{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}

.current_page_item {
    background-color: rgb(50, 58, 65);
    color:yellow
}


/* <div class="column mcb-column one column_feature_list">
<div class="feature_list" style=" display: flex; flex-wrap: wrap; justify-content: space-between;">
    <ul>
        <li>
            <div class="logo">
                <a  href="content/betheme/company.html" title="company">
                    <img class="logo-main scale-with-grid" src="images/companyimages/logos/ba-arenalogo.png" alt="what">
                </a>
            </div>
        </li>

        <li>
            <div class="logo">
                <a  href="content/betheme/company.html" title="company">
                    <img class="logo-main scale-with-grid" src="images/companyimages/logos/ba-cards-logo.png" alt="what">
                </a>
            </div>
        </li>

        <li>
            <div class="logo">
                <a  href="content/betheme/company.html" title="company">
                    <img class="logo-main scale-with-grid" src="images/companyimages/logos/ba-connectlogo.png" alt="what">
                </a>
            </div>
        </li>

        <li>
            <div class="logo">
                <a  href="content/betheme/company.html" title="company">
                    <img class="logo-main scale-with-grid" src="images/companyimages/logos/batv.png" alt="what">
                </a>
            </div>
        
        </li>

        <li>
            <div class="logo">
                <a  href="content/betheme/company.html" title="company">
                    <img class="logo-main scale-with-grid" src="images/companyimages/logos/ba-entertainmentlogo.png" alt="what">
                </a>
            </div>
        </li> */


/* .feature_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding:1rem;
    width:100%;

}


.feature_list ul li a:hover {
    color: white;
    background-color: rgb(50, 58, 65);
    width: 100%;
    height: 100%;
} */

/* Responsive */
@media (max-width: 768px) {
    .companies-showcase{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .companies-showcase{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .companies-showcase{
        grid-template-columns: repeat(3, 1fr);
    }
}
